<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Server Side Rendering Demo</title>
    <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
    {% include 'header.njk' %}

    <main class="content">
    {% block content %}
    {%endblock %}
    </main>

    <footer >
     <p class="credits">Made with love ❤️  by <a href="https://adrianalonso.es">@alonsus91</a></p>
     <img src="https://js.almeria.dev/assets/images/logos/logoJSweb.png">
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

  </body>

</html>