{% extends "base.njk" %}

{% block content %}


  <div class="ui container">
    <div class="ui grid stackable ">
      {%for talk in list%}
        <div class="five wide column ">
          <div class="ui card fluid ">
            <div class="image">
              <img src="{{talk.image}}">
            </div>
            <div class="content">
              <a href="/talk/{{talk.id}}" class="header">{{talk.name}}</a>
              <div class="meta">
                <span class="date">
                  {{talk.date | date('D/M/Y')}}
                </span>
              </div>
              <div class="description">
                {{ talk.description }}
              </div>
            </div>
            <div class="extra content">

              {%for speaker in talk.speakers%}
                <a href="/speaker/{{speaker.id}}">
                  <div class="speaker">
                    <img class="ui avatar image" src="{{speaker.image}}">
                    <span>{{speaker.name}}</span>
                  </div>
                </a>
                {%endfor%}

              </div>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>

    {% endblock content %}